@keyframes flicker-1 {
    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
        text-shadow: 0 0 4px #fff, 0 0 70px #ed1996ff, 0 0 80px #ed1996ff, 0 0 90px #ed1996ff;
    }
    20%,
    24%,
    55% {
        text-shadow: none;
    }
}

header {
    width: 100%;
    color: white;
}

.contents {
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
}

#content {
    margin-top: 10px;
    align-items: center;
}

.neonText {
    margin-top: 10px;
    margin-bottom: 30px;
    color: #fff;
    animation: flicker-1 1.5s infinite alternate;
}

body {
    font-size: 18px;
    font-family: Roboticbody;
    background-color: #010a01;
    text-align: center;
    font-weight: lighter;
    color: white;
}

p {
    color: white;
}

h1 {
    font-family: Robotic;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 40px;
    color: white;
}

@font-face {
    font-family: Robotic;
    src: url(font/Robtronika-4Bq8p.ttf);
}

@font-face {
    font-family: Roboticbody;
    src: url(font/good_times.ttf);
}

nav {
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

nav a {
    text-decoration: none;
    font-family: Robotic;
    text-shadow: 0 0 7px green;
    color: white;
    margin-right: 15px;
    margin-left: 15px;
}

.one {
    max-width: 100%;
    margin-right: 17px;
    text-align: left;
    letter-spacing: 1px;
    display: inline-block;
}

.two {
    margin-left: 17px;
    margin-top: 10%;
    align-items: center;
    height: 100%;
}


/* -----------------------------------TIMER------------------------------------- */

li {
    display: inline-block;
    font-size: 0.85em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

li span {
    display: block;
    font-size: 2rem;
}

.countdown {
    position: absolute;
    bottom: 40%;
}

@media all and (max-width: 768px) {
    li {
        font-size: 1.125rem;
        padding: .35rem;
    }
    li span {
        font-size: 1.375rem;
    }
}

.highlights {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 0px auto;
}


/* .hcard {
    width: 250px;
    height: 300px;
    border-radius: 3px;
    background-color: brown;
    margin: 20px auto;
    box-shadow: none;
}

.hcard:hover {
    box-shadow: 0 0 7px #fff, 0 0 10px yellowgreen, 0 0 21px yellowgreen, 0 0 42px, 0 0 84px yellowgreen;
} */

.timeline {
    position: relative;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 15px 0;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background: pink;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
}

.container {
    padding: 15px 30px;
    position: relative;
    background: inherit;
    max-width: 50%;
}

.container.left {
    left: 0;
}

.container.right {
    left: 50%;
}


/* .container::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: calc(50% - 8px);
    right: -8px;
    background: #ffffff;
    border: 2px solid pink;
    border-radius: 16px;
    z-index: 1;
}

.container.right::after {
    left: -8px;
}

.container::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    top: calc(50% - 1px);
    right: 8px;
    background: pink;
    z-index: 1;
}

.container.right::before {
    left: 8px;
} */

.container .date {
    font-weight: bold;
    /* margin-left: 20px;
    margin-right: 20px; */
    position: absolute;
    display: inline-block;
    top: calc(50% - 8px);
    text-align: left;
    font-size: 1.25em;
    font-weight: bold;
    color: pink;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 1;
}

.container.left .date {
    right: -10px;
    margin-right: -190px;
}

.container.right .date {
    left: -75px;
    margin-left: -190px;
}

.container .icon {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 9px 0;
    top: calc(50% - 20px);
    background: #000;
    border-radius: 40px;
    text-align: left;
    font-size: 18px;
    color: pink;
    z-index: 1;
}

.container.left .icon {
    right: 56px;
}

.container.right .icon {
    left: 56px;
}

.container .content {
    padding: 30px 90px 30px 30px;
    background: transparent;
    position: relative;
    border-radius: 0 500px 500px 0;
    text-align: right;
}

.container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
    text-align: left;
}

.container .content h2 {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: normal;
    color: pink;
}

.container .content p {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
}

@media (max-width: 767.98px) {
    .timeline::after {
        left: 90px;
    }
    .container {
        width: 100%;
        padding-left: 120px;
        padding-right: 30px;
    }
    .container.right {
        left: 0%;
    }
    .container.left::after,
    .container.right::after {
        left: 250px;
    }
    .container.left::before,
    .container.right::before {
        left: 100px;
        border-color: transparent pink transparent transparent;
    }
    .container.left .date,
    .container.right .date {
        font-size: 0.8em;
        margin-left: 0px;
        right: auto;
        left: 15px;
        text-overflow: clip;
    }
    .container.left .icon,
    .container.right .icon {
        right: auto;
        left: 146px;
    }
    .container.left .content,
    .container.right .content {
        padding: 30px 30px 30px 90px;
        border-radius: 500px 0 0 500px;
    }
}

.btn {
    text-decoration: none;
    height: 2em;
    max-width: 20rem;
    background-color: white;
    color: darkblue;
    padding: 20px 20px;
    border-radius: 5px;
    margin: 25px auto;
    margin-left: 30px;
}

h1,
h2 {
    margin-top: 0px;
}

.accordion {
    font-family: Roboticbody;
    color: cyan;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    cursor: pointer;
    padding: 18px;
    width: 75%;
    border: 1px solid green;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.accordion:after {
    content: '\002B';
    color: cyan;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    margin: 10px auto;
    text-align: center;
    padding: 0 18px;
    background-color: black;
    max-height: 0;
    overflow: hidden;
    width: 75%;
    transition: max-height 0.2s ease-out;
    align-self: auto;
}

.card {
    margin: 20px auto;
    /* position: absolute; */
    width: 290px;
    height: 210px;
    max-width: 100%;
    transition: all 0.75s ease;
    transform-style: preserve-3d;
    border-radius: 5px;
    text-align: center;
}

.card:hover {
    transform: rotateX(180deg);
}

.front,
.back {
    /* This part controls the flip */
    backface-visibility: hidden;
    /* Size and card position */
    position: absolute;
    width: 100%;
    height: 100%;
    /* Appearance */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    box-shadow: 10px 10px 5px 0px rgba(2, 54, 22, 0.452);
}

.front {
    background-color: #63d471;
    background-image: radial-gradient(circle, #043716, #0f2c10, #132109, #101704, #080b00);
    color: cyan;
}

.back {
    transform: rotateX(180deg);
    text-align: left;
    background-color: darkslategray;
    color: wheat;
}

.front p {
    font-size: 0.8em;
    margin: 8px auto;
}

.front img {
    height: 125px;
    width: 125px;
    border-radius: 50%;
}

.prbox {
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    height: 250px;
    width: 250px;
    margin-bottom: 100px;
}

.sponsors {
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 25px;
}


/* nav {
    position: fixed;
    top: 0%;
} */

.highlights .img {
    width: 250px;
    height: 100px;
    display: inline-flex;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 40px;
}